/tmp/
/target/
/kernel/core/build/
/kernel/core/target/
/kernel/firmware/build/
/kernel/firmware/target/
/core_test/build/
/core_test/target/
/xtask/target/
/rustlets/**/build/
/rustlets/**/target/
/rustlets/**/Cargo.lock
/docs/*.aux
/docs/*.log
/docs/*.out
/docs/*.toc
/docs/*.bbl
/docs/*.blg
/docs/*.pdf
/docs/**/*.aux
/docs/**/*.log
/docs/**/*.out
/docs/**/*.toc
/docs/**/*.bbl
/docs/**/*.blg
/docs/**/*.fdb_latexmk
/docs/**/*.fls
/docs/**/*.pdf
/tools/apdu-tool/target/
session.json
*.swp
.aider*
.local/
